body {
    background-color: #A1E6E3;
    color: grey;
    font-size: 17px;
    line-height: 1.6;
    font-weight: lighter;
    font-family: 'PT Serif', serif;
}
body {
    display: block;
    margin: 8px;
}
@media (max-width: 760px);
.container {
    width: 600px;
}
.container {
    width: 700px;
    margin: 40px auto;
}
body {
    background-color: #A1E6E3;
    color: grey;
    font-size: 17px;
    line-height: 1.6;
    font-weight: lighter;
    font-family: 'PT Serif', serif;
}
.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 20px 0px;
    text-align: center;
}
body {
    background-color: #A1E6E3;
    color: grey;
    font-size: 17px;
    line-height: 1.6;
    font-weight: lighter;
    font-family: 'PT Serif', serif;
}
h1 {
    color: #ff7c7c;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 40px;
}
h1, h2 {
    font-family: 'Roboto', sans-serif;
}
#photo {
    border-radius: 50%;
    width: 220px;
    box-shadow: 3px 3px 2px grey;
    border: 2px solid #ff7c7c;
}
#introduction p {
    margin-bottom: 40px;
}
p {
    text-justify: center;
}
.btn-blue {
    background-color: #ff7c7c;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: blue;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 1.6;
}
h2 {
    color: #ff7c7c;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 27px;
}
h1, h2 {
    font-family: 'Roboto', sans-serif;
}
p {
    text-justify: center;
}
.list-inline {
    list-style: none;
    padding-left: 0px;
}
.list-inline i {
    font-size: 50px;
    color: rgb(230,230,230);
}
.fab {
    font-family: "Font Awesome 5 Brands";
}
.list-inline li {
    display: inline;
    padding: 10px;

}
.btn-blue : hover {
	background-color: black;
	color: white;
}
.list-inline i :hover {
	color: black

}

